.appBar {
  text-align: center;
}

.headerContainer {
  display: flex;

  align-items: center;

  background-color: rgba(192, 192, 192, 0.05);

  /* border-bottom: 1px solid black; */

  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}
