.appBar {
  text-align: center;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: mediumorchid; */

  border-bottom: 1px solid black;

  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
