.button {
  min-width: 50px;

  padding: 10px;

  border: 1px solid transparent;

  border-radius: 2px;

  background-color: mediumseagreen;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: transparent;

  border: 1px solid mediumseagreen;
}
