.navigation {
  min-width: 150px;
}

.mainNavList {
  display: inline-flex;
  padding: 0;

  margin-left: 15px;
}

.navListItem:not(:last-child) {
  margin-right: 15px;
}

.navigationItem {
  font-weight: 700;

  color: gray;

  transform: scale(1);
  transition: transform, 200ms linear;
}

.navigationActiveItem {
  color: mediumseagreen;
}

.navigationItem:hover,
.navigationItem:focus {
  transform: scale(1.1);
}
