.contacts {
  width: 500px;

  padding-top: 20px;
}

.contactsList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contactsListItem {
  display: inline-flex;
  justify-content: space-between;
}

.contactsListItem + .contactsListItem {
  margin-top: 15px;
}

.contactValue {
  margin-right: 10px;
}
