.contacts {
  flex-grow: 1;

  padding-top: 70px;
}

.contactsList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 400px;

  margin: 0 auto;
}

.contactsListItem {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  border-radius: 2px;

  background-color: silver;
}

.contactsListItem + .contactsListItem {
  margin-top: 15px;
}

.contactValue {
  margin: auto;

  font-weight: bold;
}
